services:
  app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    command: python3 app.py
    depends_on:
      - db

  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: postgres
      PG_HOST: localhost
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
